/* Use a CSS file to change the color of your page and text color of h1. Choose colors with appropriate contrast for accessibility (3 p) */
h1 {
    color: #0000ff;
}

h2 {
    color: #0000ff;
}

h3 {
    color: #0000ff;
}


p {
    color: #0000ff;
}

body{
    background-color: #f5f5dc;
}