/* Use a CSS file to change the color of your page and text color of h1. Choose colors with appropriate contrast for accessibility (3 p) */
h1 {
    color: #0000ff;
    
}

nav{
    font-family: 'montserrat', sans-serif; font-size: 1em; font-weight: normal;
    text-align: center;
    background-color: lightblue;
}

.content-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.content-list a{
    padding: 15px;
    display: inline-block;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    color: #0000ff;
}

body{
    background-color: lavender;
}

.indexh{
    font-family: 'montserrat', sans-serif; font-size: 2em; font-weight: normal;
}

section{
    text-align: center;
    background-color: lightblue;
}

.cheader{
    font-family: 'montserrat', sans-serif; font-size: 1em; font-weight: normal;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.courselist > li {
    border-bottom: black solid 3px;
    margin-bottom: 10px;
    list-style: none;
}

/* Media Query Section */
@media screen (600px) {
    nav {

    }
}